/* System-like styles */
html {
	/*
	background-color: -moz-Dialog;
	color: -moz-DialogText;
	*/
	background-color: Menu;
	color: MenuText;
}
html, button, input {
	font: message-box;
}
body {
	margin: 10px;
}
label {
	margin: 1px 5px;
}

/* UI */
.grid {
	display: grid;
	grid-gap: 0.3em;
}
#input {
	grid-template-columns: max-content auto min-content max-content;
	align-items: safe center;
}
#output {
	grid-template-columns: max-content auto min-content;
	align-items: first baseline;
	margin-top: 0.4em;
}

#url:invalid, #referer {
	grid-column-end: span 2; /* Two-sell item */
	box-shadow: none; /* Hide "invalid" highlighting */
}
#url:invalid + #utils-url {
	display: none;
}
.utils {
	white-space: nowrap;
}
.link {
	text-decoration: none;
}
.icon {
	vertical-align: middle;
	transition: filter 100ms ease-in-out;
}
.link:hover > .icon {
	filter: brightness(0.9);
}

#output > .value {
	grid-column-end: span 2; /* Two-sell item */
}
#output > #direct:not(.changed) + #utils-direct {
	display: none;
}
#output > #direct.changed {
	grid-column-end: auto; /* One-cell item */
}

#headers:not(:empty) {
	border: 1px solid ThreeDLightShadow;
	outline: 1px solid ThreeDShadow;
	padding: 0 0.25em;
}
#output.hide-status > #statusLabel, #output.hide-status > #status,
#output.hide-direct > #directLabel, #output.hide-direct > #direct,
#output.hide-headers > #headersLabel, #output.hide-headers > #headers {
	display: none;
}
.value {
	word-break: break-all;
}
.header-spacer {
	overflow: hidden;
	height: 0.8em;
	max-height: 0.8em;
}
.header-caption {
	font-size: 1.1em;
	margin: 0 0 0.1em;
	cursor: pointer;
}
.header-caption:hover,
.header-caption:hover + .header-block {
	opacity: 0.7;
}
.header-expanded > .header-twisty::after {
	content: "+";
	margin-inline-end: 2px;
}
.header-collapsed > .header-twisty::after {
	content: "−";
	margin-inline-end: 2px;
}

:root[lpp_notify="fixedURL#url"] #url,
:root[lpp_notify="fixedURL#referer"] #referer {
	color: #090;
}
:root.darkBG[lpp_notify="fixedURL#url"] #url,
:root.darkBG[lpp_notify="fixedURL#referer"] #referer {
	color: #0b0;
}