/* System-like styles */
html {
	/*
	background-color: -moz-Dialog;
	color: -moz-DialogText;
	*/
	background-color: Menu;
	color: MenuText;
}
html, button, input {
	font: message-box;
}
body {
	margin: 10px;
}
label {
	margin: 1px 5px;
}

/* UI */
.grid {
	display: grid;
	grid-gap: 0.3em;
}
#input {
	grid-template-columns: max-content auto max-content;
	align-items: safe center;
}
#output {
	grid-template-columns: max-content auto;
	align-items: first baseline;
	margin-top: 0.4em;
}
.value {
	word-break: break-all;
}
.header-spacer {
	overflow: hidden;
	height: 0.8em;
	max-height: 0.8em;
}
.header-caption {
	font-size: 1.1em;
	margin: 0 0 0.1em;
	cursor: pointer;
}
.header-caption:hover,
.header-caption:hover + .header-block {
	opacity: 0.7;
}