/* System-like styles */
html {
	/*
	background-color: -moz-Dialog;
	color: -moz-DialogText;
	*/
	background-color: Menu;
	color: MenuText;
}
html, button {
	font: message-box;
}
body {
	margin: 10px;
}
label {
	margin: 1px 5px;
}

/* UI */
.grid {
	display: grid;
	grid-gap: 0.3em;
}
#input {
	grid-template-columns: max-content auto max-content;
	align-items: safe center;
}
#output {
	grid-template-columns: max-content auto;
	align-items: first baseline;
}
#output .value {
	word-break: break-all;
}
#headers .spacer {
	overflow: hidden;
	height: 0.8em;
	max-height: 0.8em;
}